header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('BGN.jpg');
    background-size: cover; /* Đảm bảo ảnh đầy khung và không bị cắt */
    background-position: center center; /* Căn ảnh theo khung */
}