<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'book/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'book/styles1.css' %}">
  <title>Tủ sách</title>

</head>
<body style="font-family: 'Montserrat';">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <h2 class="navbar-brand ms-5 me-5 font-weight01"> <a class="no-underline" style="color: black;" href="/booklib">VJULIB</a></h2>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto offset-4 mb-2 mb-lg-0 font-weight01 ">

          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/booklib">Trang Chủ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/introduce">Giới Thiệu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/tabrules">Nội Quy</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tủ Sách
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Lịch Sử</a></li>
              <li><a class="dropdown-item" href="#">Địa lý</a></li>
              <li><a class="dropdown-item" href="#">Giáo dục công dân</a></li>
              <li><a class="dropdown-item" href="#">Tiếng anh</a></li>
            </ul>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

          <li class="nav-item dropdown list-unstyled btn-group">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{% static 'images/background/library.jpg' %}" alt="..." style="border-radius: 25px; width: 40px; height: 40px; object-fit: cover;">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style="font-family: 'Montserrat' ">
              
              <li>
                <a class="dropdown-item " href="#">
                  <i class='bx bxs-user-circle' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                  <span style="font-weight: 500;">Trang cá nhân</span>
                  <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px; margin-left: 5.25rem;">
                  </span>
                </a>
              </li>

              <li>
                <a class="dropdown-item " href="#">
                  <i class='bx bx-cog' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i> 
                  <span style="font-weight: 500;">Cài đặt & quyền riêng tư </span>
                  <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px;">
                  </span>
                </a>
              </li>
              
              <li>
                <a class="dropdown-item" href="/logout">
                  <i class='bx bx-log-out bx-flip-horizontal' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                  <span style="font-weight: 500;">Đăng xuất</span>
                </a>
              </li>
            </ul>
          </li>
        </form>
          
        </div>
      </div>
    </div>
</nav>

  <header data-jarallax data-speed=".8">
    <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
      <div class="container my-auto">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">
            <div>
              <img src="{% static 'images/background/Background_1.jpg' %}" alt="..."  class="child-background"></img>
            </div>
        </div>
        <div class="font-color01 position-absolute col-md-4 me-7">
          <h4>Chào mừng bạn đến với <a class="no-underline font-weight01" href="/booklib">VJULIB</a>! Chúng tôi tự hào mang đến cho bạn một kho tài liệu đa dạng và phong phú, được tập hợp và curation một cách kỹ lưỡng để đáp ứng tốt nhất cho nhu cầu của bạn trong việc học tập và nghiên cứu.</h4>  
        </div>
      </div>
    </div>
  </header>

  <section class="py-5">

    <div class="container">
    <div class="row">
        <div class="col-md-5 mb-06">

            <div class="user-image me-06">
                <img src="{{ selected_book.img.url }}" alt="{{ selected_book.title }}" style=" height: 450px; width: 400px; margin-right: 0;">
            </div>
        </div>
        
        <div class=" col-md-7">
            <div class=" me-5" style="text-align: left; padding-left: 50px;">
              <h1>{{ selected_book.title }}</h1>
              <h4>By {{ selected_book.author }}</h4>
              <h4>Tóm tắt</h4>
              <p>{{ selected_book.description }}</p>
      
              <h4>Thông tin sách</h4>
              <p>Tác giả: {{ selected_book.author }}</p>
              <p>Dịch giả: {{ selected_book.translater }}</p>
              <p>Nhà xuất bản: {{ selected_book.publisher }}</p>
              <p>Số trang: {{ selected_book.page }}</p>
              <p>Ngày xuất bản: {{ selected_book.Publication_date }}</p>
              <button style="background-color: #0283FA; color: white; width: 100px; border-radius: 5px;">Mượn</button>
              <button style="background-color: white; color: black; width: 100px; border-radius: 5px;">Xem</button>
              
            </div>
        </div>
    </div>
  </div>
          <br><br>

          <h3 class="fo-w">Có thể bạn quan tâm</h3>
          
          <div class="container">
            <div class="row row-cols-1 row-cols-md-4 g-4 ms-3 me-3">
                {% for book in related_books %}
                    <div class="col">
                        <div class="card h-100">
                            <a href="{% url 'book_detail' pk=book.pk %}" style="height: 300px; ">
                                <img src="{{ book.img.url }}" class="card-img-top" alt="{{ book.title }}">
                            </a>
                            <div class="te-de">
                                <a href="{% url 'book_detail' pk=book.pk %}">
                                    <h5 class="card-title">{{ book.title }}</h5>
                                    <p class="card-text">Tác giả:{{ book.author }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    
          {% for category in latest_categories %}
              <div class="add">
                  <a href="{% url 'category_detail' pk=category.pk %}">Xem thêm </a>
              </div>
          {% endfor %}
        </div>
  </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
</body>
</div>

