<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="book.css" />
  </head>
  <body>
    <header>
      <nav class="nav justify-content-around align-items-center px-5 py-4">
        <div class="logo">VJULIB</div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Trang Chủ</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giới Thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nội Quy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Tủ Sách</a>
          </li>
        </ul>
        <div class="d-flex align-items-center gap-5">
          <div class="searchbar">
            <div class="searchbar-wrapper">
              <div class="searchbar-left">
                <div class="search-icon-wrapper">
                  <span class="search-icon searchbar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path
                        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>

              <div class="searchbar-center">
                <div class="searchbar-input-spacer"></div>

                <input
                  type="text"
                  class="searchbar-input"
                  maxlength="2048"
                  name="q"
                  autocapitalize="off"
                  autocomplete="off"
                  title="Search"
                  role="combobox"
                  placeholder="Search Google"
                />
              </div>
            </div>
          </div>
          <div class="dk">
            <img
              src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.banner/0/0/0/2770_new.jpg?v=1&w=1580&h=400"
              alt=""
              style="border-radius: 50%; width: 50px; height: 50px"
            />
          </div>
        </div>
      </nav>
      <div class="banner">
        <div class="banner-1">
          <img
            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.banner/0/0/0/2770_new.jpg?v=1&w=1580&h=400"
            alt=""
          />
        </div>
        <div class="banner-2">
          <img
            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.banner/0/0/0/2770_new.jpg?v=1&w=1580&h=400"
            alt=""
          />
        </div>
      </div>
    </header>
    <main>
      <div class="name d-flex justify-content-around mt-lg-5 mb-xxl-5">
        <div class="img">
          <img
            src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46432.jpg?v=1&w=200&h=292"
            alt=""
          />
        </div>
        <div class="conten">
          <h3>NAME BOOK NAME BOOK NAME BOOK</h3>
          <h4>By <span>Name</span></h4>
          <h5>Tóm Tắt</h5>
          <p>
            Text Text Text Text Text Text Text Text Text Text Text4 Text Text
          </p>
          <h4>Thông Tin Sách</h4>
          <div
            style="
              color: black;
              font-size: 20px;
              font-family: Montserrat;
              font-weight: 600;
              line-height: 25px;
              letter-spacing: 0.5px;
              word-wrap: break-word;
              margin-bottom: 30px;
            "
          >
            Tác giả: None<br />
            <br />Dịch giả: None <br /><br />Nhà xuất bản: NXB Tổng hợp Tp.HCM
            <br /><br />Công ty phát hành: None <br /><br />Số trang: None
            <br /><br />Hình thức bìa: None <br /><br />Ngày xuất bản: None
            <br /><br />Trọng lượng (gr): None
          </div>
          <div class="d-flex align-content-lg-center gap-5 mb-xxl-5">
            <button class="muon">Mượn</button>
            <button class="tai">Download</button>
          </div>
        </div>
      </div>
      <div class="qt">
        <h3>Có Thể Bạn Quan Tâm</h3>
        <br />
        <div class="list d-flex justify-content-between">
          <div class="item">
            <img
              src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46429.jpg?v=1&w=200&h=292"
              alt=""
            />
            <div class="ten">
              <p>Mất hồn</p>
            </div>
          </div>
          <div class="item">
            <img
              src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46429.jpg?v=1&w=200&h=292"
              alt=""
            />
            <div class="ten">
              <p>Mất hồn</p>
            </div>
          </div>
          <div class="item">
            <img
              src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46429.jpg?v=1&w=200&h=292"
              alt=""
            />
            <div class="ten">
              <p>Mất hồn</p>
            </div>
          </div>
          <div class="item">
            <img
              src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/1/46429.jpg?v=1&w=200&h=292"
              alt=""
            />
            <div class="ten">
              <p>Mất hồn</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="d-flex justify-content-around align-items-center">
        <div class="w-25">
          <div class="logo">VJULIB</div>
          <div class="dc">
            Vietnam Japan University VNU, Hanoi My Dinh Campus, Luu Huu Phuoc
            Road, My Dinh 1 Residential Area, Nam Tu Liem District, Ha Noi,
            Vietnam.
          </div>
        </div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Trang Chủ</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giới Thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nội Quy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Tủ Sách</a>
          </li>
        </ul>
        <div class="icon d-flex gap-3">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-discord"></i>
          <i class="bi bi-instagram"></i>
        </div>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
