<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'student/header_styles1.css' %}">
  <link rel="stylesheet" href="{% static 'student/base_footer_styles1.css' %}">
  <link rel="stylesheet" href="{% static 'student/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'book/styles10.css' %}">
  <link rel="icon" href="{% static 'images/logo/logo.png' %}">
  <title>Thông Tin Sách</title>

</head>
<body style="font-family: Montserrat;">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <h2 class="navbar-brand ms-5 font-weight01"> <a class="no-underline" style="color: black;" href="/booklib/">VJULIB</a></h2>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 font-weight01 " style="margin-left: 26.005% !important;">

          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/booklib/">Trang Chủ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/introduce/">Giới Thiệu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/tabrules/">Nội Quy</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thể loại sách
            </a>
            <ul class="dropdown-menu" style="max-height: 170px !important; overflow-y: auto;">
              {% for category in latest_categories|dictsort:"title" %}
              <li>
                <a class="dropdown-item" href="{% url 'category_detail' pk=category.pk %}">
                  {{ category.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/author/">Tác Giả</a>
          </li>
        </ul>
        </div>
      </div>
      <p class=" font-weight03" style="margin-right: 5px; width: 200px; margin-bottom: -5px;">{{request.user.first_name}} {{request.user.last_name}}</p>
          <li class="nav-item dropdown list-unstyled btn-group">
            <a class="profile-content nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile.profile_img.url }}" alt="..." style="border-radius: 25px; width: 30px; height: 30px; object-fit: cover; margin-right:-5px">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style="font-family: 'Montserrat' ">
              
              <li>
                <a class="dropdown-item " href="/profile/">
                  <i class='bx bxs-user-circle' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                  <span style="font-weight: 500;">Trang cá nhân</span>
                  <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px; margin-left: 5.25rem;">
                  </span>
                </a>
              </li>

              <li>
                <a class="dropdown-item " href="/editprofile/">
                  <i class='bx bx-cog' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i> 
                  <span style="font-weight: 500;">Cài đặt & quyền riêng tư </span>
                  <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px;">
                  </span>
                </a>
              </li>
              
              <li>
                <a class="dropdown-item" href="/logout/">
                  <i class='bx bx-log-out bx-flip-horizontal' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                  <span style="font-weight: 500;">Đăng xuất</span>
                </a>
              </li>
            </ul>
          </li>
    </div>
  </nav>

  <!--================================================Carousel================================================-->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 1" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6" class=""></button>
    </div>
    
    <!--Slide 1-->
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_1.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Học hỏi là hành trình không ngừng, nơi mà mỗi bước đi là một cơ hội mới để mở rộng kiến thức.</p>
        </div>
      </div>

      <!--Slide 2-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_2.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Sự hiểu biết không có giới hạn và không bao giờ là thứ có thể mất đi.</p>
        </div>
      </div>

      <!--Slide 3-->  
      <div class="carousel-item active">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_7.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Cuốn sách tốt nhất là người bạn tri kỷ, là người nói với bạn những gì bạn không thể nói với bất kỳ ai khác.</p>
        </div>
      </div>

      <!--Slide 4-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Fourth slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_6.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Kiên trì là không bao giờ phải nói 'Tôi đã đủ', mà luôn là nói 'Tôi sẽ thử thêm một lần nữa'.</p>
        </div>
      </div>

      <!--Slide 5-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Fourth slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_5.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Người ta không cần phải đọc một cuộc sống mới, chỉ cần đọc một cuốn sách hay.</p>
        </div>
      </div>

      <!--Slide 6-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Fourth slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_4.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Tầm nhìn chiến lược không chỉ là việc nhìn thấy điều gì có thể, mà còn là việc thấy rõ điều gì cần phải làm.</p>
        </div>
      </div>
    </div>
        
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--================================================Carousel================================================-->

  <!--================================================================================================-->
  <div class="container mt-5">
    <div class="row">
      <!-- Phần bên trái - Hình ảnh sách -->
      <div class="col-md-6 custom-height align-items-center ">
        <img src="{{ selected_book.img.url }}" alt="{{ selected_book.title }}" class="img-fluid img-rectangle">
      </div>
  
      <!-- Phần bên phải - Thông tin sách -->
      <div class="col-md-6 align-items-center">
        <div class=" me-5 " style="text-align: left; padding-left: 50px;">
          <h1>{{ selected_book.title }}</h1>
            {% if related_author %}
                <h4>By: 
                    <a href="{% url 'author_detail' pk=related_author.pk %}" style="text-decoration: none;">{{ related_author.title }}</a>
                </h4>
            {% endif %}
          <h4>Tóm tắt</h4>
            <p>{{ selected_book.description }}</p>

          <h4>Thông tin sách</h4>
            {% if related_author %}
                <p>Tác giả: 
                    <a href="{% url 'author_detail' pk=related_author.pk %}" style="text-decoration: none;">{{ related_author.title }}</a>
                </p>
            {% endif %}
            <p>Dịch giả: {{ selected_book.translater }}</p>
            <p>Nhà xuất bản: {{ selected_book.publisher }}</p>
            <p>Số trang: {{ selected_book.page }}</p>
            <p>Số lượng: {{ selected_book.amount }}</p>
            <p>Ngày xuất bản: {{ selected_book.Publication_date }}</p>
            
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" {% if not is_book_available or is_book_borrowed %}disabled style="background-color: #F02E2E;"{% endif %}>
              {% if is_book_borrowed %}Đã Mượn{% else %}Mượn Sách{% endif %}
            </button>              
            <div class="modal fade" id="exampleModalToggle" aria-labelledby="exampleModalToggleLabel" tabindex="-1" style="display: none;" _mstvisible="0" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" _mstvisible="1">
                <div class="modal-content" _mstvisible="2">
                  <div class="modal-header" _mstvisible="3">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel" _msttexthash="1767636" _msthash="330" _mstvisible="4">Vui Lòng Lên Lịch Mượn Sách</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng" _mstaria-label="59709" _msthash="331" _mstvisible="4"></button>
                  </div>
                  <form method="post" action="{% url 'book_detail' pk=selected_book.pk %}" id="bookForm">
                    {% csrf_token %}
                    {% if not is_book_available %}
                        <div class="alert alert-danger" role="alert">
                          {% for message in messages %}
                          <div class="fontcolor">{{message}}</div>
                          {% endfor %}
                        </div>
                    {% endif %}
                    <div class="modal-body" _msttexthash="1948674" _msthidden="1" _msthash="336">
                    Họ Và Tên: {{request.user.first_name}} {{request.user.last_name}}
                    <br>
                    Mã Sinh Viên: {{ request.user.username }}
                    <br>
                    Email: {{request.user.email}}
                    <br>
                    Tên Sách - Tác Giả: {{ selected_book.title }} - {{ selected_book.author }}
                    </div>
                    <hr>
                    <div class="modal-body" _msttexthash="28926456" _msthash="332" _mstvisible="3">
                      Nhập Thời Gian Mượn Sách:
                      <input type="date" name="borrow_date" style="float: right; margin-right: 50px;" value="{% if form.is_bound %}{{ form.data.borrow_date }}{% endif %}" placeholder="YYYY-MM-DD">
                      {% for error in form.borrow_date.errors %}
                          <div class="text-danger">{{ error }}</div>
                      {% endfor %}
                  </div>
                  <div class="modal-body" _msttexthash="28926456" _msthash="332" _mstvisible="3">
                      Nhập Thời Gian Trả Sách:
                      <input type="date" name="return_date" style="float: right; margin-right: 50px;" value="{% if form.is_bound %}{{ form.data.return_date }}{% endif %}" placeholder="YYYY-MM-DD">
                      {% for error in form.return_date.errors %}
                          <div class="text-danger">{{ error }}</div>
                      {% endfor %}
                  </div>
                  {% if error_message %}
                      <div class="alert alert-danger" role="alert">
                          <div class="fontcolor">{{ error_message }}</div>
                      </div>
                  {% endif %}
                    <div class="modal-footer" _mstvisible="3">
                        <button class="btn btn-primary" type="submit" _msttexthash="5143346" _msthash="333" _mstvisible="4">
                            Xác Nhận
                        </button>
                    </div>
                </form>
                </div>
              </div>
            </div>
            <button style="background-color: white; color: black; width: 100px; border-radius: 5px; height: 38px;"><a href="{{ pdf_url }}" target="_blank" style="text-decoration: none;">Xem sách</a></button>  
        </div>
        <!-- Các thông tin khác về sách -->
      </div>
    </div>
  </div>
  <!--================================================================================================-->

  <br><br>
      <h3 style="text-align: center;"> <strong>Có thể bạn quan tâm</strong></h3>
      <div style="overflow-x: auto; white-space: nowrap;">
        <div class="container">
          <div class="d-flex flex-nowrap overflow-auto" >
                {% for book in related_books %}
                  {% if book != selected_book %}
                  <div class="col-md-3" style="flex: 0 0 auto; margin-right: 10px;">
                      <div class="card h-100">
                        <a href="{% url 'book_detail' pk=book.pk %}">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="none" focusable="false">
                            <title>Placeholder</title>
                            <image href="{{ book.img.url }}" width="100%" height="100%" preserveAspectRatio="none"/>
                          </svg>
                        </a>
                        <div class="card-body">
                          <a href="{% url 'book_detail' pk=book.pk %}" style="text-decoration: none;">
                            <h5 class="card-title" style="color: black;">{{ book.title }}</h5>
                            <p class="card-text" style="text-align: left; margin-left: 10px; color: black;">
                              Tác giả: {{ book.author }}
                            </p>
                          </a>
                        </div>
                        <div class="card-footer">
                          <p class="card-text" style="text-align: right; margin-right: 10px; font-size: 14px;font-weight: 600;">
                              <span style="color: black; ">Số lượng còn lại: </span>
                              {% if book.amount == 0 %}
                                <span style="color: red !important;">{{ book.amount }}</span>
                              {% else %}
                                <span style="color: green !important;">{{ book.amount }}</span>
                              {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
      </div>

  <footer class="site-footer mt-4" style="font-family:Montserrat;">
    <div class="container">
      <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>VJULIB</h6>
                <p class="text-justify">Chào mừng bạn đến với <a href="#" style="font-weight:600; color:#fff">VJULIB</a>! Chúng tôi tự hào mang đến cho bạn một kho tài liệu đa dạng và phong phú, được tập hợp và curation một cách kỹ lưỡng để đáp ứng tốt nhất cho nhu cầu của bạn trong việc học tập và nghiên cứu.</p>
            </div>

            <div class="col-xs-6 col-md-3">
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>LIÊN KẾT</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">Nội Quy</a></li>
                    <li><a href="http://scanfcode.com/contact/">Giới Thiệu</a></li>
                    <li><a href="https://www.gstatic.com/policies/terms/pdf/20220105/it7r24p9/google_terms_of_service_en.pdf">Chính Sách Bảo Mật</a></li>
                    <li><a href="https://www.facebook.com/vnu.vju">Liên Hệ Với Chúng Tôi</a></li>
                    <li><a href="https://vju.ac.vn/vi/about-vju-vn/message-from-the-rector-vn/">Thông Điệp Từ Hiệu Trưởng</a></li>
                </ul>
            </div>
      </div>
      <hr>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
          <a href="https://vju.ac.vn/vi/truong-dai-hoc-viet-nhat/" style="color: #fff;">VNU Vietnam Japan University</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
             <li><a class="facebook" href="https://www.facebook.com/vnu.vju"><i class="fa fa-facebook"></i></a></li>
             <li><a class="youtube" href="https://www.youtube.com/watch?v=owddI614-Ac"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
             <li><a class="email" href="mailto:admission@vju.ac.vn"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
             <li><a class="call" href="tel:+84966954736"><i class="fa fa-phone" aria-hidden="true"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!--================================================Carousel================================================-->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleCaptions'), {
        interval: 3000, // Đặt thời gian chuyển đổi ảnh (đơn vị: mili giây)
        wrap: true // Nếu đặt là false, khi đến ảnh cuối, nó sẽ dừng lại chứ không quay lại ảnh đầu
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
</body>
</html>