<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'student/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'student/styles11.css' %}">
    <link rel="icon" href="{% static 'images/logo/logo.png' %}">
    <title>Dăng Nhập</title>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0 font-farmily01 ">

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <h2 class="navbar-brand ms-5 font-weight01"> <a class="no-underline" style="color: black;" href="/">VJULIB</a></h2>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav offset-4 mb-2 mb-lg-0 font-weight01 " style="margin-left: 26.005% !important;">

              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/">Trang Chủ</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/introduce/">Giới Thiệu</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="/tabrules/">Nội Quy</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Thể loại sách
                </a>
                <ul class="dropdown-menu" style="max-height: 170px !important; overflow-y: auto;">
                  {% for category in latest_categories|dictsort:"title" %}
                  <li>
                    <a class="dropdown-item" href="/login/">
                      {{ category.title }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/login/">Tác Giả</a>
              </li>
            </ul>

          </div>
        </div>
    </nav>

    <div class="container">
        <div class="row flex-column flex-md-row">
          <div class="mt-01 col-6 col-md-6" >
              <div class=>
                  <h2 class="font-weight01">Đăng Nhập Để</h2>
                  <h2 class="font-weight01">Truy Cập Thư Viện VJULIB</h2>

                  <p class="font-weight03">Nếu bạn không có tài khoản,bạn có thể <a class="no-underline" href="/register"> Đăng ký tại đây</a></p>
              </div>
          </div>
        
            <div class="container col-6 col-md-6 mt-01 ">
            
                <div class="col-md-6 offset-md-3 ">
                    <div class="card shadow custom-card-width" >
                        <div class="card-body text-center" >
                          <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% for message in messages %}
                                <div class="fontcolor">{{message}}</div>
                            {% endfor %}
                            <input class="form-control mb-2 mt-3 shadow-sm" type="text" name="username" placeholder="Mã sinh viên" required>
                            <input class="form-control mb-2 shadow-sm" type="password" name="password" placeholder="Mật Khẩu" required>
                            <button class="btn btn-primary btn-block02 mt-1 shadow font-weight03" type="submit"><span class="font-weight03" style="color:white; text-decoration:none;">Đăng Nhập</span></button> 
                            <p class="mt-3"><a href="/forgot/" class="font-weight03 no-underline">Quên Mật Khẩu?</a></p>
                            <a href="/register/" class="btn  shadow btn-danger btn-custom-color"><span class="font-weight03">Đăng Ký</span></a> 
                          </form>
                        </div>
                      

                    </div>
                </div>
            </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
</body>
</html>