<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'student/bootstrap.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'student/styles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>VJULIB</title>
  
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0 font-farmily01" style="background-color: #FFF0F0 ;">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <h2 class="navbar-brand ms-5 font-weight01"> <a class="no-underline" style="color: black;" href="/booklib/">VJULIB</a></h2>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav offset-4 mb-2 mb-lg-0 font-weight01 ">
  
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="/booklib/">Trang Chủ</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/introduce/">Giới Thiệu</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/tabrules/">Nội Quy</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Thể loại sách
              </a>
              <ul class="dropdown-menu">
                {% for category in latest_categories %}
                <li>
                  <a class="dropdown-item" href="{% url 'category_detail' pk=category.pk %}">
                    {{ category.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/author/">Tác giả</a>
            </li>
          </ul>
          
        </div>
        <form class="d-flex" role="search" method="post" action="{% url 'profile' %}" >
            {% csrf_token %}
            
            <li class="nav-item dropdown list-unstyled btn-group">
              <p class="profile-name font-weight03">{{request.user.first_name}} {{request.user.last_name}}</p>
              <a class="profile-content nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.profile.profile_img.url }}" alt="..." style="border-radius: 25px; width: 30px; height: 30px; object-fit: cover; margin-right:-5px">
              </a>
              <ul class="dropdown-menu dropdown-menu-end" style="font-family: 'Montserrat' ">
                
                <li>
                  <a class="dropdown-item " href="/profile/">
                    <i class='bx bxs-user-circle' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                    <span style="font-weight: 500;">Trang cá nhân</span>
                    <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px; margin-left: 5.25rem;">
                    </span>
                  </a>
                </li>
  
                <li>
                  <a class="dropdown-item " href="/editprofile/">
                    <i class='bx bx-cog' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i> 
                    <span style="font-weight: 500;">Cài đặt & quyền riêng tư </span>
                    <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px;">
                    </span>
                  </a>
                </li>
                
                <li>
                  <a class="dropdown-item" href="/logout/">
                    <i class='bx bx-log-out bx-flip-horizontal' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                    <span style="font-weight: 500;">Đăng xuất</span>
                  </a>
                </li>
              </ul>
            </li>
          </form>  
      </div>
  </nav>

  <div class="container">
    <div class="row">
        <div class="col-md-01 mb-06">
            <div class="user-image me-06">
                <div class="rounded-circle">
                    <img src="{{ user.profile.profile_img.url }}" alt="User Image" class="img-fit">
                </div>
            </div>
        </div>
        <div class=" col-md-8">
            <div class="user-details me-5">
                <p>Mã sinh viên: {{request.user.username}}</p>
                <p>Họ và tên: {{request.user.first_name}} {{request.user.last_name}}</p>
                <p>Email: {{request.user.email}}</p>
                <p>Về bản thân: {{user.profile.desc}}</p>
                {% for message in messages %}
                <div class="fontcolor">{{message}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>

  <h5 class="ms-5">Tên Sách Đã Mượn</h5>
  <div class="container">
            <div class="row row-cols-1 row-cols-md-4 g-4 ms-3 me-3">
                {% for book in related_books|slice:":4" %}
                  {% if book != selected_book %}
                    <div class="col">
                        <div class="card h-100">
                            <a href="{% url 'book_detail' pk=book.pk %}" >
                                <img src="{{ book.img.url }}" class="card-img-top" alt="{{ book.title }}" style="height: 350px;">
                            </a>
                            <div class="te-de" style="margin-top: 40px; margin-bottom: 10px;">
                              <a href="{% url 'book_detail' pk=book.pk %}">
                                  <h5 class="card-title" style="color: black;">{{ book.title }}</h5>
                                  <p class="card-text" style="text-align: left; margin-left: 10px; color: black;">
                                    Tác giả: {{ book.author }}
                                  </p>
                                  <p class="card-text" style="text-align: right; margin-right: 10px; font-size: 14px;font-weight: 600;">
                                    <span style="color: black; ">Số lượng còn lại: </span>
                                    {% if book.amount == 0  %}
                                      <span style="color: red !important;">{{ book.amount }}</span>
                                    {% else %}
                                      <span style="color: green !important;">{{ book.amount }}</span>
                                    {% endif %}
                                  </p>
                              </a>
                            </div>
                        </div>
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
        </div>


  <div id="layoutDefault_footer">
    <footer class="footer pt-5 pb-5 mt-5 " style="background-color: #D9D9D9;">
        <div class="container ">

            <div class="row gx-5">
                <div class="col-lg-3">
                    <h5 class="footer-brand font-weight03">VJU LIBRARY</h5>
                    <div class="icon-list-social mb-5 mt-3 ">
                        <a class="icon-list-social-link " href="#!"><i class='bx bxl-instagram-alt' style="font-size: 25px;" ></i></a>
                        <a class="icon-list-social-link p-xxl-4 " href="#!"><i class='bx bxl-facebook-circle' style="font-size: 25px;"></i></a>
                        <a class="icon-list-social-link " href="#!"><i class='bx bxl-discord-alt' style="font-size:25px" ></i></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-5 font-weight03">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <a href="/booklib/" class="text-uppercase-expanded text-xs mb-4 no-underline">Trang Chủ</a>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <a href="/introduce/" class="text-uppercase-expanded text-xs mb-4 no-underline">Giới Thiệu</a>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                            <a href="/tabrules/" class="text-uppercase-expanded text-xs mb-4 no-underline">Nội Quy</a>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="text-uppercase-expanded text-xs mb-4"><a class="no-underline" href="#">Tủ Sách</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4" />

            <div class="row gx-5 align-items-center">
                <div class="col-md-6 small font-weight03">Copyright © LIBVJU 2023</div>
                <div class="col-md-6 text-md-end small">
                    <a class="no-underline font-weight03" href="#!">Privacy Policy</a>
                    ·
                    <a class="no-underline font-weight03" href="#!">Terms &amp; Conditions</a>
                </div>
            </div>

        </div>
    </footer>
</div>

  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
  </body>
  </html>