<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'student/header_styles1.css' %}">
    <link rel="stylesheet" href="{% static 'student/base_footer_styles1.css' %}">
    <link rel="stylesheet" href="{% static 'student/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'student/styles11.css' %}">
    <link rel="icon" href="{% static 'images/logo/logo.png' %}">
    <title>Nội Quy</title>

</head>
<body style="font-family: Montserrat;">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <h2 class="navbar-brand ms-5 font-weight01">
        {% if user_authenticated %}
          <a class="no-underline" style="color: black;" href="/booklib/">VJULIB</a>
        {% else %}
          <a class="no-underline" style="color: black;" href="/login/">VJULIB</a>
        {% endif %}
      </h2>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-4 mb-2 mb-lg-0 font-weight01 " style="margin-left: 26.005% !important;">

          {% if user_authenticated %}
            <!-- Đối với người dùng đã đăng nhập -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/booklib/">Trang Chủ</a>
            </li>
          {% else %}
            <!-- Đối với người dùng chưa đăng nhập -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Trang Chủ</a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="/introduce/">Giới Thiệu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/tabrules/">Nội Quy</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thể loại sách
            </a>
            <ul class="dropdown-menu" style="max-height: 170px !important; overflow-y: auto;">
              {% if user_authenticated %}
                <!-- Đối với người dùng đã đăng nhập -->
                {% for category in latest_categories|dictsort:"title" %}
                  <li>
                    <a class="dropdown-item" href="{% url 'category_detail' pk=category.pk %}">
                      {{ category.title }}
                    </a>
                  </li>
                {% endfor %}
              {% else %}
                {% for category in latest_categories|dictsort:"title" %}
                  <!-- Đối với người dùng chưa đăng nhập -->
                  <li>
                    <a class="dropdown-item" href="{% url 'login' %}">
                      {{ category.title }}
                    </a>
                  </li>
                  {% endfor %}  
              {% endif %}
            </ul>
          </li>

          <li class="nav-item">
            {% if user_authenticated %}
              <!-- Đối với người dùng đã đăng nhập -->
              <a class="nav-link" href="{% url 'author' %}">Tác Giả</a>
            {% else %}
              <!-- Đối với người dùng chưa đăng nhập -->
              <a class="nav-link" href="{% url 'login' %}">Tác Giả</a>
            {% endif %}
          </li>
        </ul>

        </div>
      {% if user_authenticated %}
        <p class=" font-weight03" style="margin-right: 5px; width: 150px; margin-bottom: -5px;">{{request.user.first_name}} {{request.user.last_name}}</p>
        <form class="d-flex" role="search" method="post" action="{% url 'profile' %}" >
        {% csrf_token %}
        <li class="nav-item dropdown list-unstyled btn-group">
          <a class="profile-content nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.profile.profile_img.url }}" alt="..." style="border-radius: 25px; width: 30px; height: 30px; object-fit: cover; margin-right:-5px">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" style="font-family: 'Montserrat' ">
            
            <li>
              <a class="dropdown-item " href="/profile/">
                <i class='bx bxs-user-circle' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                <span style="font-weight: 500;">Trang cá nhân</span>
                <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px; margin-left: 5.25rem;">
                </span>
              </a>
            </li>

            <li>
              <a class="dropdown-item " href="/editprofile/">
                <i class='bx bx-cog' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i> 
                <span style="font-weight: 500;">Cài đặt & quyền riêng tư </span>
                <span style=" width: 10px; height: 10px;border: solid #333; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(-45deg); margin-left: 5px;">
                </span>
              </a>
            </li>
            
            <li>
              <a class="dropdown-item" href="/logout/">
                <i class='bx bx-log-out bx-flip-horizontal' style="font-size: 30px; position: relative; top: 7px; color: #1C1E21;"></i>
                <span style="font-weight: 500;">Đăng xuất</span>
              </a>
            </li>
          </ul>
        </li>
        </form> 
      {% else %}
        <div style="text-align: right; margin-right: 30px;">
                
          <a href="{% url 'register' %}" style="color: #0F62FE; text-decoration: none; font-weight:600;margin-right: 20px; ">Đăng kí</a>
        
        <button class="btn shadow-lg " type="submit">
          <a href="{% url 'login' %}" style="color: #0F62FE; text-decoration: none; font-weight:600; ">Đăng nhập</a>

        </button>
        </div>
      {% endif %}
    </div>
  </nav>

  <!--================================================Carousel================================================-->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 1" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6" class=""></button>
    </div>
    
    <!--Slide 1-->
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_1.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Học hỏi là hành trình không ngừng, nơi mà mỗi bước đi là một cơ hội mới để mở rộng kiến thức.</p>
        </div>
      </div>
  
      <!--Slide 2-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_2.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Sự hiểu biết không có giới hạn và không bao giờ là thứ có thể mất đi.</p>
        </div>
      </div>
  
      <!--Slide 3-->  
      <div class="carousel-item active">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_7.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Cuốn sách tốt nhất là người bạn tri kỷ, là người nói với bạn những gì bạn không thể nói với bất kỳ ai khác.</p>
        </div>
      </div>
  
      <!--Slide 4-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Fourth slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_6.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Kiên trì là không bao giờ phải nói 'Tôi đã đủ', mà luôn là nói 'Tôi sẽ thử thêm một lần nữa'.</p>
        </div>
      </div>
  
      <!--Slide 5-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Fourth slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_5.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Người ta không cần phải đọc một cuộc sống mới, chỉ cần đọc một cuốn sách hay.</p>
        </div>
      </div>
  
      <!--Slide 6-->
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Fourth slide" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <image href="{% static 'images/background/Library_4.jpg' %}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        </svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>VJU LIBRARY</h5>
          <p>Tầm nhìn chiến lược không chỉ là việc nhìn thấy điều gì có thể, mà còn là việc thấy rõ điều gì cần phải làm.</p>
        </div>
      </div>
    </div>
        
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--================================================Carousel================================================-->
   

  <section>
      <br>
      <div class="container"> 
          <p style="font-size: 45px; text-align: center; font-weight: bold;">Nội Quy Thư Viện Trường Đại Học Việt Nhật</p>
            <span><strong style="color: red;"> Điều 1: Thẻ thư viện (Library card)</strong></span>
                <ul>Thẻ sinh viên / nhân viên đồng thời là thẻ thư viện để sử dụng các dịch vụ của thư viện.</ul>
              <span><strong style="color: red;">Điều 2: Giờ mở cửa</strong></span>
                <ul>
                  <li class="font-farmily01">Thứ Hai – Thứ Sáu: 8h15 – 18h30</li>
                  <li class="font-farmily01">Cuối tuần: 8h00 – 12h00, 13h00 – 17h00 </li>
                </ul>

                <span><strong style="color: red;">Điều 3: Các dịch vụ của Thư viện</strong></span>
                  <ul>
                    <li>3.1. Mượn, trả, gia hạn tài liệu;</li> 
                    <li lass="font-farmily01">3.2. Hướng dẫn tìm tin và sử dụng thư viện;</li>
                    <li class="font-farmily01">3.3. Tìm kiếm và tư vấn thông tin;</li>
                    <li class="font-farmily01"> 3.4. Truy cập nguồn tài nguyên điện tử</li>
                    <li class="font-farmily01">3.5. Tiếp nhận đề nghị đặt mua tài liệu;</li>
                    <li class="font-farmily01"> 3.6. Mượn liên thư viện;</li>
                    <li class="font-farmily01"> 3.7. Phòng học nhóm.</li> 
                  </ul>
                    

                <span><strong style="color: red;">Điều 4: Các quy định chung khi vào thư viện</strong></span>
                  <ul>
                    <li>4.1. Xuất trình thẻ thư viện khi giao dịch với Thư viện. Không dùng thẻ của người khác và không cho người khác mượn thẻ của mình;</li>
                    <li> 4.2. Giữ gìn trật tự, đi nhẹ, nói khẽ;</li>
                    <li>4.3. Giữ gìn vệ sinh chung: không hút thuốc lá, không viết, vẽ lên mặt bàn, không ngồi gác chân lên ghế, bỏ rác đúng nơi quy định;</li>
                    <li>4.4. Không được mang vào thư viện đồ ăn, uống, chất độc hại, chất cháy nổ,...;</li>
                    <li>4.5. Tắt chuông điện thoại, không nói chuyện điện thoại trong thư viện;</li>
                    <li> 4.6. Không viết bút chì, bút mực hoặc sử dụng bút đánh dấu lên sách;</li>
                    <li> 4.7. Không gập hoặc làm nhàu nát, rách sách;</li>
                    <li>4.8. Không để sách bị ẩm ướt, mốc hoặc hư hỏng dưới bất kỳ hình thức nào.</li>
                  </ul>
                    

                <span><strong style="color: red;">Điều 5: Quy định khi mượn/trả tài liệu</strong></span>
                  <ul>
                    <li>5.1. Sau khi đọc sách xong, bạn đọc đặt sách về khu vực đã được quy định, không tự ý xếp sách lên giá;</li>
                    <li>5.2. Không mang bất cứ tài liệu nào ra khỏi thư viện khi chưa làm thủ tục mượn về;</li>
                    <li>5.3. Đối với giáo trình, tài liệu học tập: Mỗi sinh viên được mượn 1 bộ giáo trình, tài liệu dùng cho kỳ học hiện tại theo danh sách lớp của phòng Đào tạo. Những tài liệu giáo trình này, bạn đọc được gia hạn tối đa 1 tuần khi có lý do hợp lý;</li>
                    <li>5.4. Đối với sách giáo trình được mượn như tài liệu tham khảo, hạn trả áp dụng như đối với sách tham khảo thông thường;</li>
                    <li>5.5. Đối với tài liệu tham khảo: Bạn đọc được mượn tối đa 10 tên sách, trong thời hạn 1 tuần/ tài liệu tiếng Việt, 2 tuần/ tài liệu ngoại văn và được gia hạn 4 lần;</li>
                    <li>5.6. Người mượn có trách nhiệm:</li>
                    <li>5.6.1 Kiểm tra và xác nhận quá trình giao dịch với thủ thư ngay tại quầy;</li>
                    <li>5.6.2 Kiểm tra tình trạng thực tế của tài liệu đã được ghi mượn trước khi mang ra khỏi thư viện, đồng thời giữ gìn, bảo quản tài liệu trong thời gian mượn. Khi phát hiện hư hỏng, người mượn cuối cùng của tài liệu đó sẽ chịu trách nhiệm bồi thường theo quy định.</li>
                  </ul>
                    
                <span><strong style="color: red;">Điều 6: Xử lý vi phạm nội quy thư viện</strong></span>
                  <ul>
                    <li> 6.1 Bạn đọc vi phạm các quy định tại Điều 4, 5 tùy theo mức độ và lần vi phạm có thể bị nhắc nhở, khiển trách và mời ra khỏi thư viện; lập biên bản cảnh cáo, tạm ngừng sử dụng các dịch vụ thư viện hoặc sẽ bị tước quyền sử dụng các dịch vụ thư viện vĩnh viễn, tạm thời đình chỉ học tập hoặc buộc thôi học;</li>
                    <li>6.2 Trường hợp làm hư hại (như long bìa, nhàu nát, bôi bẩn, viết, vẽ, mất trang...) hoặc mất tài liệu, bạn đọc phải bồi thường thiệt hại tương đương với giá trị của tài liệu;</li>
                    <li>6.3 Trường hợp mượn tài liệu quá hạn sẽ phải chịu tiền phạt là: 5.000 đồng/ngày/1 cuốn kể cả ngày nghỉ</li>
                    <li>6.4 Trong bất cứ trường hợp vi phạm nào, bạn đọc phải đền bù thiệt hại theo quy định.</li>
                  </ul>
                  <p style="text-align: right;"><strong style="color: red;">PHÒNG THÔNG TIN - THƯ VIỆN</strong></p>
      </div>
      <br><br>
        <p style="font-size: 45px; text-align: center; font-weight: bold; color: red;">LIBRARY REGULATIONS <p>
        <div class="container">
          <span><strong style="color: red;">Article 1: How to get library card? </strong></span>
                <ul>Your student ID card is your Library card. Use your Student or Staff ID card to access Library services and resources.</ul>
            
          <span><strong style="color: red;">Article 2: Opening hours</strong></span>
            <ul>
              <li> Monday - Friday: 8:15 – 18:30</li>
              <li>Weekend: 8:00 – 12:00, 13:00 – 17:00 </li>
            </ul>
                
          <span><strong style="color: red;">Article 3: Library services:</strong></span>
            <ul>
              <li>3.1 Circulation; </li>
              <li> 3.2 Seeking information;</li>
              <li>3.3 Information consulting; </li>
              <li>3.4 “Log - on - to e-resource”; </li>
              <li>3.5 Request materials; </li>
              <li>3.6 Interlibrary loan; </li>
              <li>3.7 Group work rooms. </li>
            </ul>
                

          <span><strong style="color: red;">Article 4: General regulations</strong></span>
            <ul>
              <li>4.1 Patrons must present a valid card to enter library. Cards are non-transferrable; </li>
              <li> 4.2 Loud conversation is forbidden throughout the Library; </li>
              <li>4.3 Please consciously keep the library clean, no smoking, no graffiti, no littering ...; </li>
              <li>4.4 Food, drink, toxic and explosive substances in the Library are forbidden; </li>
              <li>4.5 Please keep quiet in the library and set the mobile phone or computer and other equipment in silent mode. Do not talk to other via phone; </li>
              <li> 4.6 Do not use pencils, pens or highlighters in the book; </li>
              <li> 4.7 Do not bend or tear the pages of the book; </li>
              <li>4.8 Do not let it get wet or mouldy or damaged in any way. </li>
            </ul>

          <span><strong style="color: red;">Article 5: Circulation policies</strong></span>
          <ul>
            <li>5.1 Place books on designed area after finishing. Do not arrange books on shelf freely; </li>
            <li>5.2 Materials may not be taken out of the FPT university library without permission of the Librarian; </li>
            <li>5.3 Textbook for semester/block: Textbook are delivered according to academic calendar. Textbooks can only be renewed up to 1 week when you having suitable reasons; </li>
            <li>5.4 Textbook for reference purposes: 1 week after new block start, patrons can borrow textbooks as reference books; </li>
            <li>5.5 Reference book: Patrons can borrow up to 10 titles, loan period is 1 week for mother tongue books and 2 weeks for foreign language books, you can renew up to 4 times; </li>
            <li>5.6 Patrons should: </li>
            <li> 5.6.1 Check list of books borrowed and confirm with librarian; </li>
            <li>5.6.2 Make sure book condition notes at the end of your borrowed books are updated. You are responsible for the condition of everything while it is on loan to you. Please take good care of books or you pay for the damage according to the regulation.</li>
          </ul>
                           
          <span><strong style="color: red;">Article 6: Fines and penalty</strong></span>
          <ul>
            <li>6.1 Patrons who violate regulations mentioned in article 4 and 5 may get reminded, punished or requested to leave the library based on the violation level. Librarian may take the initial to write violation report, stop providing library services to those who break the law. In the worst situation, those students may get expelled from the university; </li>
            <li> 6.2 Damaged items which can be used will occur an amount depend on how serious of damage. The book is lost or damaged beyond repair, you have to buy this book;</li>
            <li>6.3 Overdue books will be fined 5000 VNĐ/1 item/1 day including day off;</li>
            <li>6.4 In any situation, patrons have to compensate for damage as prescribed </li>          
          </ul>
          <p style="text-align: right;"><strong style="color: red;">INFORMATION AND LIBRARY CENTER</strong></p>
        </div>
  </section>

  <footer class="site-footer" style="font-family:Montserrat;">
    <div class="container">
      <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>VJULIB</h6>
                <p class="text-justify">Chào mừng bạn đến với <a href="#" style="font-weight:600; color:#fff">VJULIB</a>! Chúng tôi tự hào mang đến cho bạn một kho tài liệu đa dạng và phong phú, được tập hợp và curation một cách kỹ lưỡng để đáp ứng tốt nhất cho nhu cầu của bạn trong việc học tập và nghiên cứu.</p>
            </div>

            <div class="col-xs-6 col-md-3">
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>LIÊN KẾT</h6>
                <ul class="footer-links">
                    <li><a href="http://scanfcode.com/about/">Nội Quy</a></li>
                    <li><a href="http://scanfcode.com/contact/">Giới Thiệu</a></li>
                    <li><a href="https://www.gstatic.com/policies/terms/pdf/20220105/it7r24p9/google_terms_of_service_en.pdf">Chính Sách Bảo Mật</a></li>
                    <li><a href="https://www.facebook.com/vnu.vju">Liên Hệ Với Chúng Tôi</a></li>
                    <li><a href="https://vju.ac.vn/vi/about-vju-vn/message-from-the-rector-vn/">Thông Điệp Từ Hiệu Trưởng</a></li>
                </ul>
            </div>
      </div>
      <hr>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
          <a href="https://vju.ac.vn/vi/truong-dai-hoc-viet-nhat/" style="color: #fff;">VNU Vietnam Japan University</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
             <li><a class="facebook" href="https://www.facebook.com/vnu.vju"><i class="fa fa-facebook"></i></a></li>
             <li><a class="youtube" href="https://www.youtube.com/watch?v=owddI614-Ac"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
             <li><a class="email" href="mailto:admission@vju.ac.vn"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
             <li><a class="call" href="tel:+84966954736"><i class="fa fa-phone" aria-hidden="true"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>

  </footer>
  
  <!--================================================Carousel================================================-->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleCaptions'), {
        interval: 3000, // Đặt thời gian chuyển đổi ảnh (đơn vị: mili giây)
        wrap: true // Nếu đặt là false, khi đến ảnh cuối, nó sẽ dừng lại chứ không quay lại ảnh đầu
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html>