<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'WebLibraryApp/style.css' %}">
    <title>VJU Library</title>
    
</head>
<body>
    <h2 class="my-2">VJULIB</h2>
    <div class="my-1">
        <nav>
            <a class="my-2" href="/home">Trang chủ</a>
            <a class="my-2" href="">Giới thiệu</a>
            <a class="my-2" href="">Nội quy</a>
            <a class="my-2" href="">Tủ sách</a>
            <a class="my-2" href="">Xu hướng</a>
            <input class="my-6" type="text" name="search" placeholder="Tìm kiếm sách">
            <button class="my-8" type="submit" name="login"><a class="my-7" href="/home">Đăng nhập</a></button>
        </nav>
    </div>

    <div class="grid-container">
        <div class="none">
            <h2 class="text-font">Đăng nhập để <br> truy cập thư viện VjuLib</h2>
            <p class="text-font1 text-line">Nếu bạn không có tài khoản, <br> bạn có thể <a class="text-color1" href="/register">đăng kí tại đây</a></p>
        </div>

        <div class="my-5">
            <form class ="my-4" action="/login" method="post">
                {% csrf_token %}
                <div class="border2"><input class="border3" type="text" name="username" placeholder="Email" required></div>
                <br>

                <div class="border2"><input class="border3" type="password" name="password1" placeholder="Password" required></div>
                <br>
                
                <button class="border" type="submit" name="login"><a class="text-color " href="/login">Đăng Nhập</a></button>
                <br>
                <div class="border1"><label for="">Quên mật khẩu?</label></div>
                <br>
                <button class="border4" type="submit"><a class="noline" href="/register">Đăng kí</a></button>
                <br>
            </form>
        </div>
    </div>
</body>
</html>