<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sign up the account</h2>
    
    <form action="/register" method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Create your username" required>
        <br>

        <label for="">Firstname</label>
        <input type="text" name="firstname" placeholder="Enter your firstname" required>
        <br>

        <label for="">Lastname</label>
        <input type="text" name="lastname" placeholder="Enter your lastname" required>
        <br>

        <label for="">Email Address</label>
        <input type="email" name="email" placeholder="Enter your Email Address" required>
        <br>

        <label for="">Password</label>
        <input type="password" name="password1" placeholder="Create your password" required>
        <br>

        <label for="">Comfirm the password</label>
        <input type="password" name="password2" placeholder="Comfirm your password" required>
        <br>
        
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>