html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Monsterrat';
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url('R.jpg');
    background-size: cover; /* Đảm bảo ảnh đầy khung và không bị cắt */
    background-position: center center; /* Căn ảnh theo khung */
}

