<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Library-Management-Website-Project00/WebLibrary/templates/bootstrap-5.3.2/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/Library-Management-Website-Project00/WebLibrary/templates/bootstrap-5.3.2/dist/css/bootstrap-grid.css">
    <title>Sign Up</title>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0 font-farmily01 ">
    <!-- NAVBAR -->
    <nav class="navbar navbar-dark navbar-expand-lg navbar-togglable fixed-top">
      <div class="container">
    
        <!-- Navbar brand (mobile) -->
        <a class="navbar-brand d-lg-none" href="./index.html">Touché</a>
    
        <!-- Navbar toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
    
          <!-- Navbar nav -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="./about-us.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./menu.html">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./reservation.html">Reservation</a>
            </li>
          </ul>
    
          <!-- Navbar brand -->
          <a class="navbar-brand d-none d-lg-flex mx-lg-auto" href="./index.html">
            Touché
          </a>
    
          <!-- Navbar nav -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="./news-and-events.html">News & Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="./contact-us.html">Contact</a>
            </li>
          </ul>
    
        </div>
      </div>
    </nav>

    <!-- WELCOME -->
    <header data-jarallax data-speed=".8" style="background-image: url(assets/img/1.jpg);">
      <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
        <div class="container my-auto">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">

              <!-- Preheading -->
              <h6 class="text-xs text-white-75">
                <span class="text-primary">Café</span> / Restaurant
              </h6>

              <!-- Heading -->
              <h1 class="display-1 text-white mb-4">
                Touché
              </h1>

              <!-- Subheading -->
              <p class="text-center text-white-75 mb-7">
                A unique café located in the heart of Los Angeles. Always fresh coffee and biscuits. Open for indoor dining and to-go orders.
              </p>

              <!-- Button -->
              <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" href="#reservation">
                Make reservation
              </a>

            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md">

              <!-- Social links -->
              <ul class="list-inline text-center text-md-start mb-3 my-md-5">
                <li class="list-inline-item">
                  <a class="text-white-75 text-primary-hover" href="#!">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item ms-5">
                  <a class="text-white-75 text-primary-hover" href="#!">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item ms-5">
                  <a class="text-white-75 text-primary-hover" href="#!">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>

            </div>
            <div class="col-md">

              <!-- Address -->
              <p class="font-serif text-white-75 text-center text-md-end text-lg-end my-md-5">
                <i class="fas fa-map-marker-alt text-primary me-3"></i> 1234 Dining Str., Los Angeles, CA 12345-0000
              </p>

            </div>
          </div>
        </div>
      </div>
    </header>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
</body>
</html>