body {
  font-family: "Montserrat";
  margin: 0;
}

.nav-tab-1 {
  position: absolute;
  top: 34px;
  left: 3%;
  line-height: 16px;
  padding: 4.9px 15.1px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 25px;
}

.nav-tab-2 {
  position: absolute;
  top: 34px;
  left: 40%;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none; 
  color: black;
  font-size: 20px;
}

.nav-tab-3 {
  position: absolute;
  top: 20px;
  left: 80%;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
}

.nav-tab-2 a ,.nav-tab-3 a{
  margin-right: 16px;
  text-decoration: none;
}

.nav-tab-1 a, .nav-tab-2 a{
  color: black;
}

.nav-tab-2 a:last-child ,.nav-tab-3 a:last-child{
  margin-right: 0;
}

.register {
  background-color: #0a95f2;
  color: #fff;
  padding: 8px 15px;
  top: -5px;
  width: 110px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}

.login {
  background-color: #0a95f2;
  color: #fff;
  padding: 8px 15px;
  width: 110px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  top: 100px;
}

.images {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 100%;
  
 
object-fit: cover;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: 'Monsterrat';
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.child-background {
  width: 70%;
  margin-left: 70%;
  margin-top: -10%;
  display: block;
}


section {
text-align: center;
}

.mar-1{
margin-top: 20px;
}

.mar-1 a{
text-align: center !important;
}

.add a{
text-align: center;
text-decoration: none;
}

.add a::after{
content: '\2192';
margin-left: 5px;
}

.co-0{
color:lightseagreen;
}

.co-1{
color: red;
}

.co-2{
color: blue;
}

.co-3{
color: rebeccapurple;
}

.co-4{
color: green;
}

.te-de a{
text-decoration: none;
}
.me-7{
margin-right: 50%;
}

.next-icon{
  width: 10px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 5px;
}

.next-icon-ma{
  margin-left: 5.25rem;
}

/*========================================*/
.custom-height {
  height: 500px;
  width: 300px; /* Đặt chiều cao mong muốn */
  overflow: hidden; /* Nếu chiều cao của hình ảnh vượt quá chiều cao của cột, ẩn phần dư thừa */
}

.img-fit {
  object-fit: contain; /* Hoặc object-fit: contain tùy thuộc vào yêu cầu */
  width: 100%;
  height: 100%;
}

/* Chỉnh sửa hình ảnh thành hình chữ nhật */
.img-rectangle {
  width: 100%;
  height: auto; /* Tự động tính chiều cao để giữ tỷ lệ khung hình */
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
